// ==========================================================================
// Buttons
// ==========================================================================

.theme__colors {
  color: $white;
  @include grid-colors($grid-colors);
  @include button-colors($button-colors);
}

[class^="btn--"] {
  @extend %btn;
  width: 100%;
  margin:.5em;
}
