* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

// ul elements
ul {
  margin:0;
  padding:0;
  list-style: none;
}
// p elements

p {
  margin: 0 0 em(30px, 18px);
  font-weight: $font-weight--light;
  font-size: em(22px);
  line-height: (27px/18px);
}
